.container-text{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 6%;
    margin-top: -18vh;
    display: flex;
    font-size: 200px;
    font-family: 'Ogg';
    font-weight: lighter;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    letter-spacing: -10px;
}
.container-text p {
    overflow: hidden;
    color: black;
}
.container-inner-text2{
    margin-top: -499px;
}
.container-quote{
    position: absolute;
    top: 70vh;
    right: 100px;
    font-family: 'Inter';
    font-size: 18px;
    color: #fff;
    word-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
}
.container-image{
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vw;
    background: url(../../Assets/SAM_0959.JPG) 50% 50% no-repeat;
    background-size: cover;
    filter: grayscale(1);
    height: 110vh;
    z-index: -1;
}
.container-quote2{
    position: absolute;
    top: 160vh;
    left: 10%;
}
.about-container2{
    position: absolute;
    top: 190vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 250vh;
    width: 100%;
    flex-direction: column;
}
.about-container2-heading,
.about-container2-heading2,
.about-container2-heading2 p{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.about-container2-heading p,
.about-container2-heading2 p{
    font-size: 130px;
    font-family: 'Ogg';
    line-height: 0%;
    font-weight: lighter;
    letter-spacing: -10px;
    color: black;
}

.about-container-my-strength p{
    font-size: 130px;
    font-family: 'Ogg';
    line-height: 0%;
    font-weight: lighter;
    letter-spacing: -10px;
    color: black;
    position: relative;
    top: 175px;
}
.about-container2-heading2 p{
    text-decoration: line-through 5px #806868;
}
.about-container2-strength-p p{
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    word-spacing: 10px;
    margin-top: -127px;
}
.about-container2-p-right{
    text-align: right;
}
.about-container-flower{
    position: absolute;
    top: 28vh;
    left: 100px;
    animation: animate-rotate 10s infinite linear;
}
.about-container-flower img{
    width: 100px;
    position: absolute;
    top: 100px;
}
.about-footer{
    margin-top: 500vh;
}
@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:1200px) {
    .container-text{
        font-size: 150px;
        margin-top: 0px;
    }

    .container-quote{
        position: absolute;
        top: 30vh;
        left: 8%;
        font-family: 'Inter';
        font-size: 20px;
        color: #fff;
        word-spacing: 10px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .container-quote2{
        position: absolute;
        top: 160vh;
        left: 10%;
    }

    .container-image{
        width: 64vh;
    }

    .about-container-flower img{
        position: relative;
        top: 200px;
    }

    .container-inner-text2{
        margin-top: -369px;
    }
    .about-container2-heading p,
    .about-container2-heading2 p{
        font-size: 120px;
    }

    .about-container2-strength-p p{
        margin-top: -455px;
    }
    .about-container-flower{
        top: 13vh;
    }
    .about-container2-heading{
        margin-top: 100px;
    }
    .about-container2-heading2 p{
        font-size: 80px;
    }
}

@media (max-width: 768px  ) {
    .about-container2-heading2 p, .about-container2-heading p{
        font-size: 64px;
        letter-spacing: -2px;
        line-height: 61px;
    }

    .container-inner-text2{
        margin-top: -180px;
    }

    .about-container2-heading{
        margin-top: 0px;
    }

    .about-container-flower{
        top: 515px;
    }

    .about-container-my-strength p{
        top: 0px;
        font-size: 60px;
        letter-spacing: -2px;
    }

    .about-container2-strength-p p{
        padding: 0px 20px;
    }

    .container-text p{
        font-size: 76px;
    }

    .container-quote1{
        top: 33vh;
    }
    .container-image{
        width: 322px;
        height: 600px;
        transform: translate(-50% , -50%);
    }
    .container-text{
        margin-top: 0px;
        letter-spacing: -5px;
    }
    .about-container2-p p{
        font-size: 15px;
    }
}
