.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 250px;
    flex-direction: column;
}
.get-in-touch h1 {
    font-size: 160px;
    font-weight: lighter;
    font-family: 'Ogg';
    color: black;
    position: relative;
    z-index: 1;
    letter-spacing: -10px;
}

.get-in-touch a{
    text-decoration: none;

}
.get-in-touch p{
    font-size: 18px;
    margin-top: -114px;
    font-weight: 300;
    word-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Inter';
    color: #fff;
}
.get-in-touch img{
    width: 500px;
    margin-top: -347px;
    opacity: .1;
    animation: animate-rotate 30s linear infinite;

}
@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .get-in-touch h1{
        font-size: 103px;
    }
    .get-in-touch img{
        width: 200px;
        margin-top: -240px;
        opacity: .1;
    }
    .get-in-touch p{
        font-size: 19px;
        font-weight: 400;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-family: 'Inter';
        margin-top: -84px;
    }

}
@media (max-width: 600px) {
    .get-in-touch h1 {
        font-size: 57px;
        letter-spacing: -2px;
    }
    .get-in-touch p{
        font-size: 10px;
        font-weight: 500;
        position: relative;
        top: 45px;
        padding: 0px 20px;
    }
    .get-in-touch img{
        margin-top: -139px;
        width: 200px;
    }
    .get-in-touch{
        margin-top: 0px;
    }
}

@media (width:768px){
    .get-in-touch h1 {
        font-size: 105px;
    }

    .get-in-touch p{
        font-size: 15px;
        font-weight: 500;
        position: relative;
        top: 52px;
        padding: 0px 50px;
    }
}