*{
    font-family: 'Ogg';
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: -170px;
}
.container1{
    display: flex;
    flex-direction: column;
    padding: 0px 72px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 40px;

}
.txt-line{
    overflow: hidden;
}
.txt-line p{
    font-size: 172px;
    color: black;
    text-transform: capitalize;
    letter-spacing: -10px;
    font-family: 'Ogg';
    overflow: hidden;
    height: 100%;
    line-height: 90%;
}
.line-bottom{
    margin-top: -391px;
}
.right-side-menu{
    position: absolute;
    top: 40vh;
    text-align: right;
    right: 60px;
}
.right-side-menu p{
    font-size: 20px;
    font-family: 'Inter';
    color: #642420;
    cursor: pointer;
    font-weight: lighter;
}
.left-side-quote{
    margin-left: 120px;
}
.left-side-quote p{
    color:#fff;
    font-size: 18px;
    font-family: 'Inter';
    word-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    transform: translate(-49px ,0px);

}
.flower-svg{
    margin-left: 150px;
    margin-top: -250px;
}
.flower-svg img{
    animation:  animate-rotate 30s infinite linear;
    width: 80px;
}
.short-about{
    margin-top: 25vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.main-h1-short-about{
    margin-top: 0px;
}
.sub-main-p-short-about{
    margin-top: 120px;
}
.short-about h1{
    font-size: 130px;
    font-weight: 500;
    font-family: 'Ogg';
    margin-bottom: -150px;
    letter-spacing: -10px;
    text-align: center;
    color: black;
    word-spacing: 10px;
}
.short-about p{
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    word-spacing: 10px;
    margin-top: 30px;
}
.another-svg{
    margin-top: 50px;
}
.short-about .another-svg img{
    width: 50px;
    animation: animate-rotate 10s infinite linear;
}

@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.my-skills-main-reel{
    width: 100%;
    overflow: hidden;
}

.my-skills-reel{
    margin-top: 100px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    will-change: transform;
    animation: move 60s linear infinite;
}

@keyframes move {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.reel-item{
    font-family: 'Inter';
    font-size: 25px;
    color: #fff;
    margin-left: 60px;
    text-transform: uppercase;
}
.skill-set-boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    margin-top: 40px;
}

.skill-set-box{
    margin: 50px 10px;
    display: flex;
    width: 350px;
    height: 200px;
    color: #e6e6e6;
    flex-direction: column;
    background-color: #101010;
    border: 1px solid transparent;
    transition: color .8s cubic-bezier(.16, 1, .3 ,1);
    transition: background-color 1s cubic-bezier(.16, 1, .3 ,1);
    transition: border .8s cubic-bezier(.16, 1, .3 ,1);
}
.skill-set-box:hover{
    color: #161616;
    background-color: #f0f0f0;
    border: 1px solid #161616;
}
.skill-set-box h1,
.skill-set-box p{
    margin: 0px 30px;
    font-family: 'Inter';
    font-weight: lighter;
    text-transform: uppercase;
}
.skill-set-box h1{
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
}
.skill-set-box p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 200;
}
.project-and-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 250px;
    margin-bottom: 100px;
    flex-direction: column;
    height: 30vh;
    /* border-bottom: 1px solid #fff; */
}

.line{
    text-align: center;
    width: 500px;
    background-color: #fff;
}
.project-and-work h1 .h1-project{
    text-decoration: none;
    color:black;
    font-size: 130px;
    font-weight: lighter;
    font-family: 'Ogg';
    white-space: nowrap;
    letter-spacing: -10px;
}
.project-and-work p{
    color:#fff;
    font-size: 20px;
    margin-top: -20px;
    font-weight: lighter;
    font-family: 'Inter';
}
.h1-project img{
    width: 58px;
}

.h1-project img:hover{
    fill: #fff;
    
}

@media (max-width: 600px) {
    .short-about p{
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .txt-line p{
        font-size: 60px;
        letter-spacing: -2px;
        font-weight: 500;
    }
    .line-bottom{
        margin-top: -120px;
    }
    
    .left-side-quote{
        margin-left: 10vw;
    }
    .left-side-quote p{
        font-size: 12px;
    }
    .container1{
        padding: 0px 50px;
    }
    .short-about h1{
        font-size: 60px;
        margin: 0;
        line-height: 88%;
    }

    .reel-item{
        font-size: 60px;
    }
}

@media (max-width: 1200px) {

    .container{
        margin-top: 0px;
        height: 50vh;
        margin-top: -322px;
        height: 50vh;
    }

    .txt-line p {
        font-size: 150px;
        letter-spacing: -10px;
        font-weight: 500;
    }
    .line-bottom {
        margin-top: -317px;
    }
    .flower-svg {
        display: none;
    }
    .short-about h1 {
        font-size: 100px;
        margin: 0;
        line-height: 88%;
    }
    .short-about p {
        margin-top: 5px;
        font-weight: 300;
    }
    .sub-main-p-short-about {
        margin-top: 10px;
    }
    .reel-item {
        font-size: 60px;
    }
    .project-and-work h1 .h1-project {
        font-size: 118px;
    }
    .project-and-work h1 .h1-project img {
        width: 30px;
    }
    .project-and-work p {
        margin-top: -30px;
    }
    .skill-set-box {
        margin: 10px 5px;
    }
}

@media (max-width: 600px) {
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 0px;
    }

    .container1{
        display: flex;
        flex-direction: column;
        padding: 0px 72px;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        position: relative;
        top: -31px;
    
    }
    
    .short-about p {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .txt-line p {
        font-size: 60px;
        letter-spacing: -2px;
        font-weight: 500;
    }
    .line-bottom {
        margin-top: -120px;
    }
    
    .left-side-quote {
        margin-left: 44px;
    }
    .left-side-quote p {
        font-size: 10px;
        position: relative;
        transform: translate(15px , 0px);
    }
    .container1 {
        padding: 0px 50px;
    }
    .short-about h1 {
        font-size: 60px;
        margin: 0;
        line-height: 88%;
    }
    .reel-item {
        font-size: 30px;
    }

    .skill-set-box {
        margin: 10px 44px;
    }

    .project-and-work{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
        margin-top: 0px;
        flex-direction: column;
        height: 30vh;
    }

    .project-and-work h1 .h1-project{
        text-decoration: none;
        color:black;
        font-size: 34px;
        font-weight: lighter;
        font-family: 'Ogg';
        white-space: nowrap;
        letter-spacing: -2px;
    }

    .line{
        text-align: center;
        width: 311px;
        background-color: #fff;
    }

}

@media (width:768px){
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 0px;
    }

    .project-and-work h1 .h1-project {
        font-size: 87px;
    }

    .skill-set-box{
        width: 286px;
    }
}


