header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 1000;
    transition: .6s ease-in-out;
}
#logo{
    font-size: 1.2vw;
    font-family: 'Inter';
    transition: .6s ease-in-out;
    font-weight: bold;
    font-family: 'Ogg';
}
.toggle-menu{
    display: none;
}
.menu-items{
    position: fixed;
    top: 20px;
    right: 72px;
    list-style: none;
    text-align: right;
    transition: .6s ease-in-out;
    transition: display 1s ease-in-out;
}
.menu-items li, .li{
    font-family: 'Inter';
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    mix-blend-mode: difference;
}
.menu-items li .li:hover::before{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: 0 100%;
    transition: trasnform 0.7s cubic-bezier(0.2,1,0.3,1), opacity 0.1s linear;
}
.li::before{
    content: "";
    position: absolute;
    left: auto;
    margin-top: 28px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #fff;
    transform: scaleX(0.001);
    opacity: 1;
    transform-origin: 100% 50%;
    transition: transform 0.3s cubic-bezier(0.2,1,0.3,1), opacity 0.1s linear 0.2s;
}
@media (max-width: 1200px){
    .menu-items li ,.li{
        font-size: 40px;
    }
    .li::before{
        margin-top: 23px;
    }
}
@media (max-width: 768px) {
    .menu-items{
        display: none;
        top: 80px;
        right: 75px;
        padding: 10px 0px;
    }
    .menu-items li, .li{
        color: #f0f0f0;
        font-size: 30px;
    }
    .li::before{
        background-color: #f0f0f0;
    }
    .toggle-menu{
        display: block;
        position: fixed;
        top: 15px;
        right: 59px;
        margin: 10px 0px;
        padding: 0px 5px;
        padding-top: 5px;
        border-radius: 1px;

    }
    .toggle-menu img{
        width: 70px;
        font-weight: lighter;
        color: #f0f0f0;
    }
    header:hover .menu-items{
        display: block;
        background: transparent;
        backdrop-filter: blur(8px);
        width: 100%;


    }
}
@media (max-width: 600px) {
    .menu-items{
        top: 80px;
        right: 25px;
    }
    .toggle-menu{
        right: 10px;
        top: 15px;
    }
    .toggle-menu img{
        width: 37px;
    }
}